/* Este arquivo será quase idêntico ao ForgotPassword.css */
/* Apenas renomeamos a classe principal para especificidade */

.reset-password-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
}

.reset-password-container .branding-icon {
    font-size: 70px;
    margin-bottom: 24px;
    opacity: 0.9;
    color: #93c5fd;
}

.reset-password-form {
    width: 100%;
    max-width: 420px;
}